
body {

    background: #F6DAFF;
    font-family: 'Lobster', cursive;

}

h1 {

text-align: center;

font-size: 40px
}

h3 {

text-align: center;

}
    
    .firstpics {

    width: 400px;

    height: 400px;
    
 display: inline-block;

 margin: 70px

    }

    p2 {

        text-align: center;

        font-size: 20px;



    }


    




















